.pav{
	background-image:url("../pav/3.jpg");
	background-repeat: no-repeat;
    background-size: cover;
}
.pav1{
	background-image:url("../pav/4.jpg");
	background-repeat: no-repeat;
    background-size: cover;
}
.pav2{
	background-image:url("../pav/5.jpg");
	background-repeat: no-repeat;
    background-size: cover;
}
.pav3{
	background-image:url("../pav/6.jpg");
	background-repeat: no-repeat;
    background-size: cover;
}
.pav4{
	background-image:url("../pav/7.jpg");
	background-repeat: no-repeat;
    background-size: cover;
}
.carousel {
	height:650px !important;
}
.naujas{
	left:2px;
	margin-top:30px;
}
.naujas1{
	left:2px;
	height:450px;
	margin-right:5px;
}
.pava{
	background-image:url("../2.jpg");
	background-repeat: no-repeat;
}
.naujas{
	text-align: justify;
    text-justify: inter-word;
}
.Evtekstas{
	text-align: justify;
    text-justify: inter-word;
	left:2px;
	margin-top:10px;
}
.nuotrauka{
	margin-top:50px;
	height:200px; width:350px;
}
.nuotrauka1{
	margin-top:50px;
	margin-left:30px;
	height:100%;
	width:100%;
}
.margin{
	margin-top:20px;
}
.singleNaujas{
	margin-top:10px;
	height:100%; width:100%;
}
.singleNaujas1{
	margin-top:10px;
	height:100%; width:100%;
	margin-bottom:10px;
}
.newSingleNaujas{
	margin-top:20px;
	height:100px; width:150px;
}
.pataisymas{
	margin-top:10px;
	margin-left:8px;
	font-size:20px;
	font-weight:700;
}
.tekstoPataisymas{
	margin-top:1px;
	margin-left:8px;
}
.kalnas{
	margin-left:35px;
	
}
.nau{
	margin-left:5px;
}
.zemelapis{
	height:450px; border:0px;
}
.pirmo{
	text-align:center;
	font-size:20px;
}
.papildomai{
	margin-top:40px;
	margin-left:35px;
}
.logo{
	height: 80px;
	width: 180px;
	border-radius: 50px;
}
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
.tab button:hover {
    background-color: #ddd;
}
.tab button.active {
    background-color: #ccc;
}
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
.grafikasKarolio{	
		
}
.grafikasEv{
  height: 200px;
  margin-left:20px;
  margin-right:200px;
}
.vidurinis{
	text-align:center;
	font-size:20px;
}
.pirmas{
	text-align:center;
	font-size:20px;
}
.antras{
	text-align:center;
	font-size:20px;
}
.a {
    text-indent: 20px;
	text-align: justify;
    text-justify: inter-word;
}
.karuselei{
	margin-top:100px;
	margin-left:5px;
	margin-right:5px;
}











